<div class="pusher"></div>
  <div class="ui vertical masthead center aligned segment first bg-cover-photo">
    <div class="ui text container">
      <h1 class="ui header main-text-font">
        Play in front of an audience
      </h1>
      </div>
    </div>
  </div>