<h3 class="ui center aligned header">
  Let's get started! First, tell us what you're looking for.
</h3>

<div class="ui stackable two column very relaxed grid container" style="position:relative;">
  <div class="center aligned column">
    <div class="ui segment usertype-box">
      <i class="huge black spy icon"></i>
      <h3 class="ui header">
        I want to hire a musician
      </h3>
      <p>
        Find great musicians
      </p>
      <p>
        from our talent pool
      </p>
      <a href="users/new"><button class="ui basic button">
        HIRE
      </button></a>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
  <div class="center aligned column">
    <div class="ui segment usertype-box">
      <i class="huge sound icon"></i>
      <h3 class"ui header">
        I am a music performer
      </h3>
      <p>
        Find gigs and start
      </p>
      <p>
        making money today!
      </p>
      <button class="ui basic button">
        PLAY
      </button>
    </div>
  </div>
</div>
