<% messages.each do |message| %>
  <% if message.content %>
    <% if message.user_id %>
      <% user = User.find(message.user_id) %>
    <% else %>
      <% user = Performer.find(message.performer_id) %>
    <% end %>
    <div>
    <strong><%= user.full_name %></strong>
    <%= message.created_at %></div>
      <h4> <%= message.content %> </h4>
  <% end %>
<% end %>

