<div>
  <%= form_for([@conversation, @message], :remote => true, 
  :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
    <%= f.text_area :body, "data-cid" => @conversation.id %>
    <div>    
      <%= f.submit "Send" %>
    </div>
  <% end %>
</div>