<section id='form'>
<div class=”ui segment”>
  <h1>Mailbox</h1>
  <% if @conversations.length == 0 %>
    <h4>You have an empty mailbox. Start a conversation with a !</h4>
  <% else %>
  <div class=”ui list”>
    <div class=”item”>
      <% @conversations.each do |conversation| %>
        <% if conversation.user_id == current_user.id || conversation.performer_id == current_user.id %>
          Conversation from: <%= link_to conversation.performer.email, conversation_messages_path(conversation.id) %>
          <div class='convo-row'>
          </div>
        <% end %>
      <% end %>
     </div>
    </div>
  </div>
  <% end %>
</section>