p {
  line-height: 0.3em;
}
.logo {

}
.main-text-font {
  font-family: 'Montserrat', sans-serif !important;
}

.coltrane {
  background-image: url("http://a4.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTE4MDAzNDEwNDg2MDAzMjE0.jpg")
}

.performer-grid {
  margin-bottom:2rem !important;
  margin-top:1rem !important;
}

.bg-cover-photo {
  background-image: image-url('musician.jpg') !important;
  background-size: cover !important;
}

.sign-up-button {
  margin-top: 1.5rem;
}

.gold {
  background-color: #c5b358 !important;
}

.ui.inverted.menu {
  margin: 0;
  /*background: #838996 !important;*/
}

.masthead.segment {
  min-height: 600px;
  padding: 1em 0em;
}

.masthead h1.ui.header {
  margin-top: 35%;
  margin-bottom: 0em;
  font-size: 3.5rem;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.hidden.menu {
  display: none;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu,
  .secondary.pointing.menu .right.item {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.second {
    position: relative;
    z-index: 1;
}

.column {
  max-width: 450px;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.footer.segment {
  padding: 5em 0em;
  /*background: #847b6a !important;*/
}

.footer .seven.wide.column {
  text-align: center;
}

.usertype-box {
  margin: 2rem !important;
}